
  <section class="home-section mt-2 ">
    <div class="container mb-3">

<div class="container mt-3">
  <table id="Category" class="table  table-hover">
    <thead class="text-primary">
      <tr>
        <th scope="col">SNO</th>
        <th scope="col">PICTURE</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <% let i=1; for(values of products) {  %>
        <tr>
          <th scope="row"><%= i++ %></th>
          <td><img src="/images/<%= values.orderProducts[0].picture %>" alt="" style="width:4em ; height:4em"></td>
          <td><%= values.orderProducts[0].productName %></td>
          <td>₹<%= values.orderProducts[0].sellingPrice %></td>
         </tr>
        <% } %>
    </tbody>
  </table>
</div>



    </div>


  </section>