
          <!-- USER TABLE  -->
      <section class="home-section mt-5">
        <div class="container d-flex justify-content-end">
          <a href="" class="btn btn-danger mb-2">VIEW BLOCKED USERS</a>
        </div>
        <div class="container">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">BLOCK USER</th>
                <th scope="col">UNBLOCK USER</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <% for(var i=0;i<User_Details.length;i++) { %>
                <th scope="row"><%= i+1 %></th>
                <td><%= User_Details[i].username %></td>
                <td><%= User_Details[i].useremail %>></td>
                <td><input type="button" name="blockUser" id="blockUser" class="btn btn-danger" value="BLOCK"></td>
                <td><input type="button" name="unblockUser" id="unblockUser" class="btn btn-success" value="UNBLOCK"></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
  <script>
   let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right"); 
  }else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
  </script>

