
<section class="home-section mt-2 ">
  <div class="container mb-3">
    <!-- Button trigger modal -->
<button
type="button"
class="btn btn-success"
data-bs-toggle="modal"
data-bs-target="#exampleModal"
>
ADD CATEGORY
</button>
<form action="/admin/addNewCategory" method="POST">
  
<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-warning" id="exampleModalLabel">ADD CATEGORY</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <label for="newCategoryName" class="text-primary">Category Name : </label>
      <input type="text" name="newCategoryName" id="newCategoryName">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-success">ADD</button>
    </div>
  </div>
</div>
</div>
  </div>
</form>
  <div class="container">
    <table id="Category" class="table  table-hover">
      <thead>
        <tr>
          <th scope="col">SNO</th>
          <th scope="col">CATEGORY NAME</th>
          <th scope="col">DELETE CATEGORY</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i< category.length;i++){ %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= category[i].newCategoryName %></td>
          <td><a href="#" class="btn btn-danger" onclick="deleteCategory('<%= category[i]._id %>')">DELETE</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  };

  var myModal = document.getElementById("myModal");
  var myInput = document.getElementById("myInput");

  myModal.addEventListener("shown.bs.modal", function () {
    myInput.focus();
  });


  $(document).ready(function () {
    $('#Category').DataTable();
});

function deleteCategory(categoryId){
  alert('sfd')
  swal({
  title: "DELETE",
  text: "DO YOU WANT TO DELETE THIS CATEGORY",
  icon: "warning",
  buttons: ["CANCEL","OK"],
}).then(val=>{
  if(val)
  {
    fetch('/admin/deleteCategory?id='+categoryId,
    {
      method:'delete'

    }).then(res=> res.json()).then(data=>{
      console.log(data);
      if(data.status){
        swal({
        title: "SUCCESS",
       text: "CATEGORY SUCCESSFULLY DELETED",
       icon: "success",
       button:"OK"
       
    }).then(val=>{
      location.reload()
    })
      
      }
      else{
        swal({
        title: "WARNING",
       text: " CATEGORY ALREADY IN USE ",
       icon: "warning",
       button:"OK"
       
    }).then(val=>{
      location.reload()
    })
      }
    })
  }
})
}



