



<section class="home-section mt-2 ">
  <div class="container mb-3">
    <!-- Button trigger modal -->
<button
type="button"
class="btn btn-success"
data-bs-toggle="modal"
data-bs-target="#exampleModal"
>
ADD COUPON
</button>
<form action="/admin/addNewCoupon" method="POST">
  
<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-warning" id="exampleModalLabel">ADD COUPON</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <label for="newCategoryName" class="text-primary">COUPON CODE : </label>
      <input type="text" name="newCoupon" id="newCategoryName"><br>
      <label for="newCategoryName" class="text-primary">DISCOUNT : </label>
      <input type="text" name="discount" id="newCategoryName">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-success">ADD</button>
    </div>
  </div>
</div>
</div>
  </div>
</form>
  <div class="container">
    <table id="Category" class="table  table-hover">
      <thead>
        <tr>
          <th scope="col">SNO</th>
          <th scope="col">COUPON CODE</th>
          <th scope="col">DISCOUNT</th>
          <th scope="col">DELETE COUPON</th>
        </tr>
      </thead>
      <tbody>
<% for(var i=0;i<availableCoupons.length;i++) {%>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= availableCoupons[i].newCoupon %></td>
          <td><%= availableCoupons[i].discount %></td>
          <td><a href="/admin/deleteCoupon?id=<%= availableCoupons[i]._id %>" class="btn btn-danger">DELETE COUPON</a></td>
        </tr>
<% } %>
      </tbody>
    </table>
  </div>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  };

  var myModal = document.getElementById("myModal");
  var myInput = document.getElementById("myInput");

  myModal.addEventListener("shown.bs.modal", function () {
    myInput.focus();
  });


  $(document).ready(function () {
    $('#Category').DataTable();
});
</script>
