<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black ">
        <div class="px-5 ms-xl-4 mt-5">
          
          <span class="h1 fw-bold mb-5 m-5 p-5">LOGIN TO E-FIT</span>
        </div>

        <div
          class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
         <div class="m-5 p-5">
          <% if(locals.error) { %>
            <div><span class="text-danger"><%= error %></span></div>
            <% } %>
          <form style="width: 23rem" onsubmit="return uservalidation()" method="POST" action="/userLoginAction">
            <!-- <h3 class="fw-normal mb-5 pb-5" style="letter-spacing: 1px">
              Log in
            </h3> -->

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">EMAIL</label>
              <input
                type="email"
                name="useremail"
                id="useremail"
                class="form-control form-control-lg"
              />

              <span id="useremailerror" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control form-control-lg"
              />
              <span id="passworderror" class="text-danger"></span>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">
                Login
              </button>
              <!-- <a href="/showUserSignUpPage" class="btn btn-success btn-lg btn block">SIGN UP HERE</a> -->
            </div>
          </form>
         </div>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="https://i.pinimg.com/736x/1c/9e/29/1c9e2907f354c4ec2ea575e21cfb2343.jpg"
          alt="Login image"
          class="w-100 vh-100"
          style="object-fit: cover; object-position: left"
        />
      </div>
    </div>
  </div>
</section>

<script>
  function uservalidation() {
    let useremail = document.getElementById("useremail").value.trim();
    let password = document.getElementById("password").value.trim();
    var flag = 0;
    if (useremail === "") {
      document.getElementById("useremailerror").innerHTML =
        "invalid email";
       flag=1
    }
    else
    {
      document.getElementById("useremailerror").innerHTML = "";
    }
    if (password == "") {
      document.getElementById("passworderror").innerHTML = "invalid password";
        flag = 1
    }
    else
    {
      document.getElementById("passworderror").innerHTML = "";
    }
    if(flag == 1)
    {
      return false
    }
  }
</script>
